service: blog-post

provider:
  name: aws
  runtime: nodejs12.x
  region: ap-northeast-2
  profile: hsjang
  apiName: blog-post
  environment: ${file(./env/mysql.yml)}

plugins:
  - serverless-plugin-typescript
  - serverless-offline

functions:
  api:
    handler: src/index.handler
    events:
      - http:
          path: /{proxy+}
          method: any