name: Production

on:
  push:
    branches:
      - master

jobs:
  job:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: blog
          MYSQL_USER: hsjang
          MYSQL_PASSWORD: password
        ports:
          - 3306:3306
    steps:
      - uses: actions/checkout@v2
      - name: Install NPM Dependencies
        run: |
          echo @hoseung-only:registry=https://npm.pkg.github.com/ > .npmrc
          echo //npm.pkg.github.com/:_authToken=${{ secrets.NPM_TOKEN }} >> .npmrc
          npm ci

      - name: Test
        env:
          MYSQL_CONNECTION_URL: mysql://hsjang:password@127.0.0.1:3306/blog
        run: npm run test

      - name: Deploy
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          mkdir env
          echo "${{ secrets.SERVERLESS_ENV }}" > env/env.yml
          npm run deploy
